<!-- Bloque de directivas de atributo -->

<p [ngStyle]="{color: 'tomato', fontWeight:'bolder'}">Lista de elementos: </p>

<!-- Asociacion de ngClass a una literal -->
<p ngClass="underlined">Aquí vamos a iterar sobre una lista y mostrar varios elmentos</p>

<!--Asociacion de un ngClass a una variable -->
<p [ngClass]="['underlined','green','small']">Aun no tienes elementos en la lista</p>

<p [ngClass]="{underlined: false, small: true}">Te recomendamos crear un elemento</p>

<!-- Bloque de directivas estructurales -->

<button (click)="cambiarCargando()">{{ cargando ? 'Terminar carga' : 'Iniciar carga' }} </button>

<ng-container *ngIf="!cargando; else templateEspera">
  <p>Todo listo!</p>
</ng-container>
<ng-template #templateEspera>
  <p>Cargando...</p>
  <p>Espere a que termine el proceso</p>
</ng-template>

<!-- Bloque para explicar el uso de NGFOR-->
<!-- Iteramos en la lista de productos -->
<div *ngFor="let producto of listaElementos; let i = index; let even= even">
  <!-- Ambito de FOR donde tnemos acceso a "producto"-->
  <div [ngStyle]="even ? {backgroundColor: 'blue', color: 'white'} : {backgroundColor:'green', color: 'white'}"
    class="producto">
    <p>ID: {{ i+ 1}} </p>
    <p>{{ producto.nombre }} - {{ producto.precio}}$</p>
    <p>{{ producto.descripcion }}</p>
  </div>
</div>

<!-- Bloque para entender ngSwitch -->
<div [ngSwitch]="opcion">
  <p [id]="1" *ngSwitchCase="1">Has elegido la Opción 1</p>
  <p [id]="2" *ngSwitchCase="2">Has elegido la Opción 2</p>
  <p [id]="3" *ngSwitchCase="3">Has elegido la Opción 3</p>
  <p [id]="4" *ngSwitchCase="4">Has elegido la Opción 4</p>
  <p *ngSwitchDefault class="cerrar"></p>
</div>
<div>
  <!-- Seleccion de opcion al usuario -->
  <input type="radio" name="opcion" (click)="escogerOpcion(1)" />Opcion 1
  <input type="radio" name="opcion" (click)="escogerOpcion(2)" />Opcion 2
  <input type="radio" name="opcion" (click)="escogerOpcion(3)" />Opcion 3
  <input type="radio" name="opcion" (click)="escogerOpcion(4)" />Opcion 4
  <input type="radio" selected="selected" name="opcion" (click)="escogerOpcion(0)" />Ocultar
</div>

<!-- Podemos concatenar directivas -->
<p>Productos de más de 10$</p>
<div *ngFor="let producto of listaElementos; let i = index; let even= even">
  <!-- Ambito de FOR donde tnemos acceso a "producto"-->
  <!-- Solo renderizar los productos de precio mayor a 10$-->
  <div *ngIf="producto.precio > 10 "
    [ngStyle]="even ? {backgroundColor: 'blue', color: 'white'} : {backgroundColor:'green', color: 'white'}"
    class="producto">
    <p>ID: {{ i+ 1}} </p>
    <p>{{ producto.nombre }} - {{ producto.precio}}$</p>
    <p>{{ producto.descripcion }}</p>
  </div>
</div>
